<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bideli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EE7C23D1F53ADB800464B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE7C2561F53ADB900464B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EE7C2611F53ADB900464B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
